*~
*.tmproj
.bundle
temp
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
*.db
.DS_Store
Icon?

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.*.sw[a-z]
*.un~
Session.vim

.db*
config/app.yml

