#countries-autocomplete {
  background-color: #fff;
  border: 2px solid #ccc;
}

#countries-autocomplete ul {
  margin: 0px;
  padding: 0px;
}

#countries-autocomplete li {
  list-style-type:none;
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 12px;
  font-family: arial;
}

#countries-autocomplete li:hover,
#countries-autocomplete li.active {
  cursor: pointer;
  background-color: #ccc;
}

#authy-tooltip-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  width: 11px;
  height: 11px;
  background: url('images/close.gif') no-repeat 0 0;
}

#authy-token {
  padding: 3px 0 3px 22px;
  border: 1px solid #ccc;
  background: url('images/icon.png') no-repeat 2px center;
  color: #333;
}

#authy-tooltip {
  position: absolute;
  z-index: 999999;
  border: 2px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  display: none;
}

#countries-autocomplete {
  position: absolute;
  width: 200px;
  display: none;
  max-height: 200px;
  overflow: auto;
  z-index: 99999999;
}

#countries-input,
#authy-cellphone {
  border: 1px solid #ccc;
  color: #333;
}

#authy-help {
  color: #35C2F1;
}

#authy-help:hover {
  text-decoration: none;
}
